*egg-info*
*pycache*
*ipynb_check*
paper/*aux
paper/*bbl
paper/*blg
paper/*log
paper/*out
paper/*synctex.gz
data/interim/cache/
sandbox/abstract*
drivers/*v0.py
results/prot_vs_teff/*pdf
results/fit_gyro_model/*csv
*aux
*.log
*.out
*.synctex.gz
data/interim/*/*glu
data/interim/*/*png
results*
data/mist*
secret_doc*
*secret*
docs/build*
dist*
build
