astropy>=4.0.4
pandas>=1.0.4
numpy>=1.18.1
scipy>=1.7.0
matplotlib
python-dotenv
pytest
pytest-cov
cdips>=0.2

# You need to install gyrointerp, via pip, for documentation to build
gyrointerp>=0.4

# Documentation
sphinx
sphinx-rtd-theme
